<!DOCTYPE html>
<html>
<head>
    <title>Welcome to {{ name }}'s Nginx!</title>
</head>
<body>
    <h1>Hello from {{ name }}!</h1>
    <h2>Instances and their Public Ports</h2>
    <h3>{{ instances }}</h3>
    <h4>{{ open_ports }}</h4>
</body>
</html>



