<!DOCTYPE html>
<html>
<head>
    <title>Welcome to {{ name }}'s Nginx!</title>
</head>
<body>
    <h1>Hello from {{ name }}!</h1>

    <h2>Instances and their Public Ports</h2>
    <ul>
    {% set instances_list = instances | from_json %}
    {% for instance in instances_list %}
        <li><a href="http://{{ instance.public_ip }}:{{ instance.port }}">{{ instance.public_ip }}:{{ instance.port }}</a></li>
    {% endfor %}
    </ul>

    <h2>Open Ports</h2>
    <ul>
    {% set open_ports_list = open_ports | from_json %}
    {% for port in open_ports_list %}
        <li>{{ port }}</li>
    {% endfor %}
    </ul>
</body>
</html>


